@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c1c;
  --foreground: #171717;
  --primary: #6c63ff;
  --secondary: #ffed4a;
  --primaryBackground: #1c1c1c;
  --secondaryBackground: #f7fafc;
  --success: #10b981;
  --failure: #e3342f;
  --warning: #f59e0b;
  --info: #3b82f6;

  --color-shadow: 22, 22, 22;
  --color-light: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #1c1c1c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Merriweather, Mulish, Helvetica, sans-serif;
}

.neumorphic {
  box-shadow: inset 1px 1px 1px rgba(var(--color-light), 1),
    -2px -2px 2px rgba(var(--color-light), 0.9),
    -4px -4px 6px rgba(var(--color-light), 0.9),
    -8px -8px 16px rgba(var(--color-light), 0.9),
    -12px -12px 24px rgba(var(--color-light), 0.9),
    inset -1px -1px 1px rgba(var(--color-shadow), 0.06),
    2px 2px 2px rgba(var(--color-shadow), 0.08),
    4px 4px 6px rgba(var(--color-shadow), 0.08),
    8px 8px 16px rgba(var(--color-shadow), 0.08),
    12px 12px 24px rgba(var(--color-shadow), 0.08);

  transition:
    color 0.3s,
    box-shadow 0.6s;

  &:hover {
    box-shadow:
      inset 1px 1px 1px rgba(var(--color-light), 1),
      -3px -3px 3px rgba(var(--color-light), 1),
      -5px -5px 6px rgba(var(--color-light), 1),
      -10px -10px 16px rgba(var(--color-light), 1),
      -14px -14px 24px rgba(var(--color-light), 1),
      inset -1px -1px 1px rgba(var(--color-shadow), 0.06),
      3px 3px 3px rgba(var(--color-shadow), 0.085),
      5px 5px 6px rgba(var(--color-shadow), 0.085),
      10px 10px 16px rgba(var(--color-shadow), 0.085),
      14px 14px 24px rgba(var(--color-shadow), 0.085);
  }
}

.neumorphic-light {
  box-shadow:
    inset 1px 1px 1px rgba(var(--color-light), 0.6),
    inset -1px -1px 1px rgba(var(--color-shadow), 0.06),

    -1px -1px 4px 0px rgba(var(--color-light), 0.6),
    -2px -2px 8px 0px rgba(var(--color-light), 0.6),

    1px 1px 4px 0px rgba(var(--color-shadow), 0.06),
    2px 2px 8px 0px rgba(var(--color-shadow), 0.06);
}